<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.USE_BIOMETRIC"/>

    <application
        android:label="apps_marketplace_integration_backend"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
              
            <!-- Intent utama untuk mendaftarkan aplikasi di Launcher HP -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            
            <!-- Perbaikan Deep Link Callback dari E-Wallet ke Gundam Store -->
            <intent-filter android:autoVerify="false">      
                <action android:name="android.intent.action.VIEW"/>    
                <category android:name="android.intent.category.DEFAULT"/>    
                <category android:name="android.intent.category.BROWSABLE"/>    
                <data android:scheme="gundamstore" android:host="payment-callback"/>    
            </intent-filter> <!-- SEKARANG SUDAH DITUTUP DENGAN BENAR -->

        </activity>

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>

    <!-- Query Visibilitas Paket untuk Android 11+ (HyperOS / Poco F7) -->
    <queries>
        <!-- IJINKAN GUNDAM STORE MEMANGGIL E-WALLET -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="gunplapay" />
        </intent>

        <!-- Bawaan Flutter Engine -->
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>